# code: language=yaml
#
# AWS Secrets Manager secret and version containing only the SES SMTP password.
#
{{- if $state.smtpSender.pushCredentials.enabled }}
{{- $push := $state.smtpSender.pushCredentials }}
{{- $iam := $state.smtpSender.iam }}
---
apiVersion: secretsmanager.aws.m.upbound.io/v1beta1
kind: Secret
metadata:
  name: {{ $push.secret.name }}
  annotations:
    {{ setResourceNameAnnotation "secrets-manager-secret" }}
  labels: {{ $state.smtpSender.labels | toJson }}
spec:
  managementPolicies: {{ $state.smtpSender.managementPolicies | toJson }}
  forProvider:
    region: {{ $state.smtpSender.region }}
    name: {{ $push.secret.path }}
    tags: {{ merge (dict "Name" $push.secret.path) $push.secret.tags | toJson }}
  providerConfigRef:
    name: {{ $state.smtpSender.providerConfig.name }}
    kind: {{ $state.smtpSender.providerConfig.kind }}

{{- if and $state.observed.secret.ready $state.observed.accessKey.ready }}
---
apiVersion: secretsmanager.aws.m.upbound.io/v1beta1
kind: SecretVersion
metadata:
  name: {{ $push.secretVersion.name }}
  annotations:
    {{ setResourceNameAnnotation "secrets-manager-secret-version" }}
  labels: {{ $state.smtpSender.labels | toJson }}
spec:
  managementPolicies: {{ $state.smtpSender.managementPolicies | toJson }}
  forProvider:
    region: {{ $state.smtpSender.region }}
    secretIdRef:
      name: {{ $push.secret.name }}
    secretStringSecretRef:
      name: {{ $iam.accessKey.connectionSecretName }}
      key: {{ $iam.accessKey.smtpPasswordKey }}
  providerConfigRef:
    name: {{ $state.smtpSender.providerConfig.name }}
    kind: {{ $state.smtpSender.providerConfig.kind }}
{{- end }}

{{- if and $state.observed.secret.ready $state.observed.secretVersion.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.smtpSender.name }}-delete-secret-version-before-secret
  annotations:
    {{ setResourceNameAnnotation "usage-secret-version-secret" }}
  labels: {{ $state.smtpSender.labels | toJson }}
spec:
  replayDeletion: true
  of:
    apiVersion: secretsmanager.aws.m.upbound.io/v1beta1
    kind: Secret
    resourceRef:
      name: {{ $push.secret.name }}
  by:
    apiVersion: secretsmanager.aws.m.upbound.io/v1beta1
    kind: SecretVersion
    resourceRef:
      name: {{ $push.secretVersion.name }}
{{- end }}
{{- end }}
